<section class="panel panel-default">
    <header class="header bg-light b-b b-light">
        <p><a href="">内容管理</a>&nbsp;&nbsp;<i class="fa fa-angle-double-right">&nbsp;&nbsp;<a href="">编辑轮播图</a></i></p>
    </header>
    <header class="header bg-white b-b b-dark">
        <div id="shadow" style="position:absolute;z-index:9999;display: none;width:100%;height:300px"></div>
        <div style="width:50%;padding:30px 0px;">
            <form id="formAjax" class="form-horizontal" role="form" action="{:U('Content/modSlide')}" method="post" enctype="multipart/form-data">
                <div id="money-input">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">图片标题</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="title" placeholder="输入标题" value="{$info['title']}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">图片描述</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="desc" placeholder="图片描述" value="{$info['desc']}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">图片链接</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="link" placeholder="图片链接" value="{$info['link']}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <label for="file" class="btn btn-facebook">选择图片</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <img class="image" src="__ROOT__/{$info['pic']}" style="width:600px;">
                        </div>
                    </div>
                    <input id="file" class="upload" name="file" type="file" style="display: none">
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-10">
                            <input type="hidden" name="id" value="{$info['id']}">
                            <button id="setting-btn" type="button" class="btn btn-primary">保存</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </header>
</section>
<script src="__PUBLIC__/src/js/jquery.form.js"></script>
<script>

    $('.upload').change(function(e){
        var img = e.target.files[0];
        var src = window.URL.createObjectURL(img);
        $('.image').attr('src',src);
    })

    $("#setting-btn").click(function() {
        $("#formAjax").ajaxSubmit({
            url: "{:U('Content/modSlide')}",
            enctype:"multipart/form-data",
            type: "post",
            dataType:'json',
            success: function (data){
                console.log(data)
                if(data == 1) {
                    alert('保存成功')
                    window.location.href = "{:U('Content/slideList')}"
                }else {
                    alert(data)
                }
            },
            error: function (data) {
                alert("请求失败");
            }
        })
    })
</script>